set $redis_ip "__CUBE_PROXY_REDIS_IP__";
set $redis_port "__CUBE_PROXY_REDIS_PORT__";
set $redis_pd "__CUBE_PROXY_REDIS_PASSWORD__";
set $redis_index 0;
set $timeout_min 500;
set $timeout_max 700;
set $cube_proxy_host_ip "__CUBE_PROXY_HOST_IP__";
